@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700;900&display=swap");

.layoutRoot {
  background: linear-gradient(153.76deg, #EDE9FE 1%, #FFFFFF 20.46%, #EDE9FE 45.51%, #D6C8FF 67.2%, #AE93FF 90.71%);
  min-height: 100%;
  overflow-x: hidden;
}

.resultsCard {
  background: #FFFFFF;
  border: 1px solid rgba(213, 213, 213, 0.3);
  /* mainShadow */
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: 24px;
}

.rewriteAllButton {
  border: 4px solid #000000;
  border-radius: 24px;
}

.rewriteAllButton p {
  height: 44px;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  line-height: 44px;
  /* identical to box height */


  color: #FFFFFF;
}

.rewriteOptionCard {
  width: 100%;

  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  /* offwhite */
  background: #FFFFFF;
  /* mainShadow */
  border-radius: 16px;
}

.rewriteButton {
  background: #000000;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  border: 1px solid rgba(213, 213, 213, 0.3);

}


.wordCount {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #6B6B6B;
}

.rewriteItemsList {
  max-height: 90rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 32px;
}

/* ********* TIPTAP EDITOR ********* */

.textEditor {
  width: 100%;
  height: 100%;
}

/* TitTap Editor Design */
.ProseMirror {
  min-width: 100%;
  width: 100%;
  min-height: 70vh;
  max-height: 70vh;
  padding: 10px;
  background: white;
  overflow-y: auto;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 12px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

}
.textEditor {
  border-radius: 12px;

}
.ProseMirror:focus {
  border: none;
  outline: 1px solid #e3a2fe;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 2rem;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}

.ProseMirror code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0rem;
}
.ProseMirror code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror img {
  max-width: 100%;
  height: auto;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 3px solid #999999;
}

.ProseMirror hr {
  border: none;
  border-top: 3px solid #999999;
  margin: 2rem 0;
}

/* ............................ */

.menuBar {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuBar button {
  font-size: 18px;
  margin: 7px;
  margin-right: 15px;
  outline: none;
  border: none;
  background: none;
  color: rgb(70, 70, 70);
  cursor: pointer;
}
.menuBar button:last-child {
  margin-right: 7px;
}

.heading3 {
  font-size: 15px;
}

button.is_active {
  background: rgb(197, 197, 197);
  padding: 2px 3px;
  border-radius: 2px;
}

/* Text Inside Editor */
.ProseMirror p {
  font-size: 18px;
  line-height: 260%;
}

._loading_overlay_overlay {
  height: 100vh !important;
  position: fixed !important;
}

mark {
  cursor: pointer;
}

/* The initial editor that is shown on gpt-hero*/
.initial-editor .textEditor div .ProseMirror  {
  min-height: 30%;
  height: 44vh;
}

